.main-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.sort-buttons{
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
}
.sort-buttons button{
  margin-left: 0;
  margin-right: 7px;
}